* {
  font-family: Lora, Georgia, Times, serif;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-height: 2rem;
  font-size: medium;
}

button:hover {
  background-color: green;
  color: black;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.lesson-list button {
  border: solid;
  border-width: 1px;
}


details {
  border-radius: 4px;
  padding: .5rem;
  background-color: antiquewhite;
  margin-bottom: 5px;
  font-size: large;

}

details summary {
  cursor: pointer;
  padding-bottom: .25rem;
}

button.icons {
  display: inline-block;
  font-size: x-small;
  min-height: 21px;
  vertical-align: middle;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: darkgreen;
  background-color: #dcf3dc;
  margin-left: 4px;
}
