<div *ngIf="hasVocab">
    <details><summary>Vocabulary</summary>
    <div *ngFor="let line of vocabArray">
        <span *ngIf="line[0].trim().length>0">{{line[0]}}<button type="button" class="headphones"
                (click)="speakService.readUtterance(line[0], rate, selectedLanguage)"><i
                    class="fa fa-headphones"></i></button> - {{line[1]}} <span #translatedVocab
                translate=yes>({{line[0]}}<button type="button" class="headphones"
                (click)="speakService.readUtterance(translatedVocab.textContent || '', rate)"><i
                    class="fa fa-headphones"></i></button>)</span>
        </span>
    </div>
</details>
<!-- <details *ngIf="vocabArray.length>6" translate="no"><summary>Matching Game</summary>
    <match-game-maker>
    <div *ngFor="let tile of vocabArray">
        <span *ngIf="tile[0].trim().length>0">{{tile[0]}} - {{tile[1]}}.</span>
    </div>
    </match-game-maker>
</details> -->
</div>