
<form>
  <div *ngIf="!ttsSupported" translate="yes" class="warning">
    <strong>SPEECH NOT SUPPORTED:
      You need to open this page in a browser like Firefox, Chrome, Safari or Edge.
      It will not work if you open it from most messaging apps.</strong></div>
    <span *ngIf="!isBlogPost" translate="yes">
        <div>You can use this tool to help with reading your own texts.<br><br>
            Try going to <a href="https://ai.com" target="_blank">ai.com</a> and ask it for a dialogue or story about anything. 
            <br>Then paste the results in the box below.
            <br><br><strong>Example Prompt:</strong> Please create a short and easy dialogue between two people discussing a new park.
           </div>
        <div id="top" class="grid">
            <h2>SOURCE TEXT:</h2>
            <button class="header-btn" type="button" (click)="clearText()">Clear</button>
            <button class="header-btn" type="button" (click)="pasteText()">Paste</button>
        </div>
        <textarea name="lesson" placeholder="Blank" [(ngModel)]="lesson.content">{{lesson.content}}</textarea>
    </span>

    <div [ngClass]="isBlogPost ? 'grid1' : 'grid2'" translate="yes">
        <div *ngIf="!isBlogPost" ><label>Choose the translation langauge: </label>
            <span id="google_translate_element"></span>
        </div>
        <div><label translate="yes">You can choose a voice for the source text: </label>
            <select #language name="selectedLanguage" [(ngModel)]="selectedLanguage">
                <option value="zh-CN">Chinese (Simplified)</option>
                <option value="nl-NL">Dutch (Netherlands)</option>
                <option value="en-CA" selected>English</option>
                <option value="fil-PH">Filipino (Philippines)</option>
                <option value="fr-FR">French (France)</option>
                <option value="de-DE">German (Germany)</option>
                <option value="it-IT">Italian (Italy)</option>
                <option value="ja-JP">Japanese (Japan)</option>
                <option value="pt-PT">Portuguese (Portugal)</option>
                <option value="ru-RU">Russian (Russia)</option>
                <option value="es-ES">Spanish (Spain)</option>
                <option value="es-MX">Spanish (Mexico)</option>
                <option value="th-TH">Thai (Thailand)</option>
                <option value="uk-UA">Ukrainian (Ukraine)</option>
            </select>
        </div>
    </div>
    <button *ngIf='!isBlogPost' class="green" type="button" (click)="onGenerate(lesson)">Generate Lesson</button>
    <div class="radio-group">
        <strong>Voice Speed:</strong>
        <span>
          <label>
            <input type="radio" name="rate" [(ngModel)]="rate" [value]="0.7" /> Slow
          </label>
        </span>
        <span>
          <label>
            <input type="radio" name="rate" [(ngModel)]="rate" [value]="1" /> Normal
          </label>
        </span>
        <span>
          <label>
            <input type="radio" name="rate" [(ngModel)]="rate" [value]="1.2" /> Fast
          </label>
        </span>
      </div>
</form>
<app-lbl [selectedLanguage]="selectedLanguage" [rate]="rate" [originalText]="originalLesson"></app-lbl>

<!-- <div class="lesson" *ngFor="let line of lessonArray">
    <div class="original"><span>{{line}}</span>
        <button type="button" class="headphones" (click)="readUtterance(line, language.value)"><i
                class="fa fa-headphones"></i></button>
    </div>
    <span class="translated" #translatedSpan translate="yes">{{copyLine(line)}}</span>
    <button type="button" class="headphones" (click)="readUtterance(translatedSpan.textContent || '')"><i
            class="fa fa-headphones"></i></button>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 -->
