textarea {
    width: 99.5%;
    min-height: 300px;
    font-size: larger;
}

button {
    padding: .5rem;
    margin-left: 0px;
    margin-right: 0px;
}
button.headphones {
    display: inline;
    padding: 2px;
    margin-top: 0;
}

.original {
    font-weight: 600;
    margin-bottom: -15px;
}

.lesson {
    font-size: larger;
}

label {
    font-weight: 600;
}

.header-btn {
    align-self: flex-end;
    margin-bottom: 5px;
    margin-right: 0px;
}

form {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-gap: 2px;
    justify-self: center;
    margin: 0%;
  }
  
  .grid h2 {
    margin: 0px 0px 5px 0px;
    align-self: self-end;
    font-family: Helvetica, sans-serif;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2px;
    justify-self: center;
    margin: 0%;
  }

  .green {
    background-color: #20af0e75;
  }

  .radio-group {
    display: inline;
    background-color: lightgray;
    padding: 5px;
    margin-bottom: 15px;

  }