* {
  font-family: Lora, Georgia, Times, serif;
}


input[type="text"],
textarea {
  color: #333;
  min-height: 2rem;
  background-color: rgb(220, 243, 220);
  border-radius: 4px;
  border-color: darkgreen;
  border-style: groove;
  border-width: 2px;
  margin-bottom: 0px;

}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-height: 2rem;
  font-size: medium;
}

button:hover {
  background-color: green;
  color: black;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 99.5%;
  min-height: 300px;
  font-size: large;
}


label {
  font-weight: 600;
}

.header-btn {
  align-self: flex-end;
  margin-bottom: 5px;
  margin-right: 0px;
  font-size: medium;
  flex-basis: content;
  min-width: 80px;
  margin-left: .5rem;
  min-height: 2rem;
}

.grid2 {
  display: block;
  text-align: center;
  grid-template-columns: none;
  justify-items: center;
  grid-auto-flow: unset;
  margin-bottom: .5rem;
}

.radio-group {
  display: inline;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 1em;
  text-align: center;
  border-radius: 4px;

}

.radio-group span {
  display: inline-block;
}

.warning {
  border-style: solid;
  border-width: thin;
  padding: .4rem;
  background-color: lightgoldenrodyellow;
}


.lesson-list button {
  border: solid;
  border-width: 1px;
}


details {
  border-radius: 4px;
  padding: .5rem;
  background-color: antiquewhite;
  margin-bottom: 5px;
  font-size: large;

}

details summary {
  cursor: pointer;
  padding-bottom: .25rem;
}

.blue {
  background-color: #ccddff;
}

.red {
  background-color: rgb(209, 122, 122);
}


#reset-button {
  align-self: right;
}

.select {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  margin: 4px;
  
}

.select label {
  font-weight: 500;
  margin-bottom: .2rem;
  font-size: 11px;
  margin-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}

.button-row {
  grid-template-columns: (30%, 60%);
  align-self: center;
  margin-left: .2rem;
 }

 .buttons {
  margin-top: .25rem;
  margin-bottom: .25rem;
 }

 .copy-button {
  border-style: solid;
  border-width: thin;
  border-color: #666666;
  min-height: fit-content;
 }

