* {
  font-family: Lora, Georgia, Times, serif;
}



input[type="text"]
 {
  color: #333;
  min-height: 2rem;
  background-color: rgb(220, 243, 220);
  border-radius: 4px;
  border-color: darkgreen;
  border-style: groove;
  border-width: 2px;
  margin-bottom: 0px;

}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-height: 2rem;
  font-size: medium;
}

button:hover {
  background-color: green;
  color: black;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.lesson-list {
  font-size: medium;
  margin: 2px;
}

.lesson-list button {
  border: solid;
  border-width: 1px;
}

button.icons,
.detailsText, .lesson-list {
vertical-align: middle;
}

button.icons {
  display: inline-block;
  font-size: x-small;
  min-height: 21px;
  vertical-align: middle;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: darkgreen;
  background-color: rgb(220, 243, 220);
  margin-left: 4px;
}

button.icons.red {
  background-color: rgb(197, 131, 131);
}
